@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 500px;
  margin: 0 auto;
  /* fffdf3 */
  background-color: #ffffff;
  position: relative;
  height: 100dvh;
  overflow: auto;
  scrollbar-width: none;
  @media (max-width: 500px) {
    /* 화면 너비가 500px 이하가 되면 요소 너비를 100%로 고정*/
    width: 100%;
  }
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('./fonts/Pretendard-Black.otf');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./fonts/Pretendard-Bold.otf');
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('./fonts/Pretendard-ExtraBold.otf');
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('./fonts/Pretendard-ExtraLight.otf');
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('./fonts/Pretendard-Light.otf');
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./fonts/Pretendard-Medium.otf');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./fonts/Pretendard-Regular.otf');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./fonts/Pretendard-SemiBold.otf');
}

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('./fonts/Pretendard-Thin.otf');
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: block;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-bottom: solid 2px rgb(190, 190, 190);
}
