@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 500px;
  margin: 0 auto;
  @media (max-width: 500px) {
    /* 화면 너비가 500px 이하가 되면 요소 너비를 100%로 고정*/
    width: 100%;
  }
  background-color: #fff2d0;
  position: relative;
  height: 100dvh;
  overflow: auto;
}
