@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 500px;
  margin: 0 auto;
  /* fffdf3 */
  background-color: #ffffff;
  position: relative;
  height: 100dvh;
  overflow: auto;
  scrollbar-width: none;
  @media (max-width: 500px) {
    /* 화면 너비가 500px 이하가 되면 요소 너비를 100%로 고정*/
    width: 100%;
  }
}
